<h2 class="page-header">Search Books</h2>
<form action="/books" method="GET">
    <div>
        <label for="">Title</label>
        <input type="text" name="title" value="<%=searchOptions%>">
    </div>

    <div>
        <label for="">Publish After</label>
        <input type="date" name="publishedAfter" value="<%=searchOptions%>">
    </div>

    <div>
        <label for="">Publish Before</label>
        <input type="date" name="publishedBefore" value="<%=searchOptions%>">
    </div>
    
    <button type="submit">Search</button>
</form>

<div>

      <% books.forEach(book => { %>
      
        <a href="/books/<%=book.id%>">Views ??</a>
        <img height="150" width="100" src="<%= book.coverImagePath %>">
      <% }) %>
   
</div>
<br>
